.container {
    border: 1px solid #ccc;
    width: 350px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-family: Arial, sans-serif;
}
textarea {
    width: 245px;
    height: 100px;
    resize:vertical;
}
.label {
    display: inline-block;
    width: 90px;
    vertical-align: top;
}
.input-row {
    margin-bottom: 10px;
}
.counter {
    font-size: 12px;
    float: right;
    margin-top: -15px;
    margin-right: 5px;
    border: 1px grey solid;
    border-radius: 1px;
}
.myname {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1px;
    font-size: 8px;
    font-family:monospace;
}